<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DelayedStockQuoteSoap" />
                <binding name="IP2GeoSoap" />
                <binding name="ServiceSoap" />
                <binding name="ServiceSoap1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="DelayedStockQuoteSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="IP2GeoSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="ServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="ServiceSoap121">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://ws.cdyne.com/delayedstockquote/delayedstockquote.asmx"
                binding="basicHttpBinding" bindingConfiguration="DelayedStockQuoteSoap"
                contract="ServiceReferenceQuotes.DelayedStockQuoteSoap" name="DelayedStockQuoteSoap" />
            <endpoint address="http://ws.cdyne.com/delayedstockquote/delayedstockquote.asmx"
                binding="customBinding" bindingConfiguration="DelayedStockQuoteSoap12"
                contract="ServiceReferenceQuotes.DelayedStockQuoteSoap" name="DelayedStockQuoteSoap12" />
            <endpoint address="http://ws.cdyne.com/ip2geo/ip2geo.asmx" binding="basicHttpBinding"
                bindingConfiguration="IP2GeoSoap" contract="ServiceResolve.IP2GeoSoap"
                name="IP2GeoSoap" />
            <endpoint address="http://ws.cdyne.com/ip2geo/ip2geo.asmx" binding="customBinding"
                bindingConfiguration="IP2GeoSoap12" contract="ServiceResolve.IP2GeoSoap"
                name="IP2GeoSoap12" />
            <endpoint address="http://api.efxnow.com/demowebservices2.8/service.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServiceSoap"
                contract="ServiceTime.ServiceSoap" name="ServiceSoap" />
            <endpoint address="http://api.efxnow.com/demowebservices2.8/service.asmx"
                binding="customBinding" bindingConfiguration="ServiceSoap12"
                contract="ServiceTime.ServiceSoap" name="ServiceSoap12" />
            <endpoint address="http://api.efxnow.com/demowebservices2.8/service.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServiceSoap1"
                contract="ServiceEcho.ServiceSoap" name="ServiceSoap1" />
            <endpoint address="http://api.efxnow.com/demowebservices2.8/service.asmx"
                binding="customBinding" bindingConfiguration="ServiceSoap121"
                contract="ServiceEcho.ServiceSoap" name="ServiceSoap121" />
        </client>
    </system.serviceModel>
</configuration>